NEXT_PUBLIC_VITALLE_API_URL=http://localhost:8000
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=https://lhorlqgyinabovqsbgae.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_tVhG2LMV-AYTSpSrcX6O2A_qCkpoiIe
VITALLE_API_KEY=change-me-in-development
VITALLE_ADMIN_PASSWORD=<ADMIN-PASSWORD>
